@model GSB_GCR.Models.Visiteur

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Visiteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisPrenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisAdresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisCp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisCp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisVille)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisVille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisDateembauche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisDateembauche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabCodeNavigation.LabCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecCodeNavigation.SecCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VisMatricule" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
